.photo-main {
    &__btn {
        margin: 10px auto;
        border: 0;
        border-radius:10px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        background: linear-gradient(to top, rgba(0, 0, 255, 0.5) 0%,  rgba(0, 0, 255, 0.8) 100%);
    }
}