.photo-form {

    &__content {
        border: 1px solid #ccc;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 10px;
    }

    &__img {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    &__btn {
        border-radius: 10px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        background: linear-gradient(to top, rgba(0, 0, 255, 0.5) 0%, rgba(0, 0, 255, 0.8) 100%);
    }

    & .form-group:last-child {
        margin-bottom: 0;
    }
}

